{% load static %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}Club Ex{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet"  href="{%  static 'css/index.css' %}">
    </head>
    <body>     
        <div class="bodyContainer"> 
            <div class="clubHeader">
                <div class="titleHeader">
                    <h2>"Success usually comes to those who are too busy to be looking for it."</h2>
                    <h4><cite>-- Henry David Thoreau.</cite></h4>
                </div>
            </div>
            <nav>
                <div class="nav-wrapper">
                  <a href="#" class="brand-logo"><i class="medium material-icons">fitness_center</i>Club EX</a>
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href={% url "home" %}>Home</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Sign up</a></li>
                    {% if user.is_authenticated %}
                    <li><a href={% url "subscription" %}>Subscribe</a></li>
                    {% endif %}
                  </ul>
                </div>
              </nav>
            <div class="body">
            {% block content %}
            {% endblock %}
            </div>
            <div class="footer">
                <h4 class="copyright">&copy; 2020 Club EX</h4>
                <a class="waves-effect waves-light btn-large"><i class="material-icons left">info</i>Gym Information</a>
            </div>
        </div> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>

</html>
