
{% extends "base.html" %}
{% load static %}

{% block content %}
{% if ca_exercise %}
{% if user.is_authenticated %}
    {% if user.is_subscribed %}
        <div class="row">
            <div class="col-10">
                {% for item in ca_exercise %}  
                    <h3>{{ item.exercise_name}}</h3>
                    <h6>{{ item.category }}</h6>
                    <video width="500" controls>
                    <source src="/static/{{item.videofile}}" type="video/mp4">
                    </video>
                {% endfor %}
            </div>
            <div class="col-2">
                <div class="categTitle">
                    <h4>Categories</h4>
                </div>
                <ul>          
                    {% for cat in categories %}
                    <li>
                        <a href="{% url 'category' cat.pk %}">{{cat.category_name}}</a>
                    </li>
                    {% endfor %}    
                </ul>
            </div>
        </div>
        {% else %}
        <p>Subscribe to see these videos!!!</p>
    {% endif %}
  {% endif %}
{% else %}
    <h4>Page does not exist</h4>
{% endif %}
{% endblock %}