
{% extends "base.html" %}
{% load static %}

{% block content %}
  {% if user.is_authenticated %}
    {% if user.is_subscribed %}
      <div class="row">
          <div class="col-10">
            <div class="groupedVideo">
              <h1>Featured Video</h1>
              <div class="featuredVideos">
                <a href="{% url 'video' featured.id %}"> <h3>{{ featured.exercise_name}}: {{ featured.category.category_name }}</h3></a> 
                <video width="800" controls>
                  <source src="/static/{{featured.videofile}}" type="video/mp4">
                </video>             
                </div>
              </div>
              <br>
              <div class="sortedVids">
                <h1>All videos, sorted by views</h1>
                {% for e in category_exercise %}
                <div class="soloVideo">
                  <a href="{% url 'video' e.id %}"><h2>{{ e.exercise_name }}: {{ e.category.category_name }}</h2></a>
                  <video width="500" controls>
                    <source src="/static/{{e.videofile}}" type="video/mp4">
                  </video>
                  <p>Views: {{ e.views }}</p>
                </div>
                {% endfor %}
              </div>
            </div>

          <div class="col-2">
              <div class="categTitle ">
                  <h4>Categories</h4>
              </div>
              <ul class="list-group list-group-flush">
                {% for cat in categories %}
                <li class="list-group-item">
                    <a href="{% url 'category' cat.pk %}" class="text-dark">{{cat.category_name}}</a>
                </li>
                {% endfor %}
              </ul>
          </div>
      </div>
    {% else %}
      <p>Subscribe to see these videos!!!</p>
    {% endif %}
  {% endif %}

  <!-- this script allows the videos to slide along if they in divs  -->
  <script>
    var slideIndex = [1];
    var slideId = ["featuredVideos"]
    showDivs(1, 0);

    function plusDivs(n, no) {
      showDivs(slideIndex[no] += n, no); // increase the shown div
    }

    function showDivs(n, no) {
      var i;
      var x = document.getElementsByClassName(slideId[no]);
      if (n > x.length) {slideIndex[no] = 1}
      if (n < 1) {slideIndex[no] = x.length}
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      x[slideIndex[no]-1].style.display = "block";
    }
  </script>

{% endblock %}
