
{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Welcome to the Club Ex Gym!</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam commodo, enim nec dignissim lacinia, augue nisl feugiat risus,
  in elementum lacus magna eu risus. Mauris vitae ante vitae ex condimentum tincidunt rutrum eget magna. Nam at metus eu nunc
  gravida mattis. Etiam cursus mollis nulla a sollicitudin. Donec ut urna libero. Proin venenatis fringilla orci, in convallis mi
  scelerisque vel. Phasellus elit nibh, faucibus ut pellentesque eleifend, finibus ut ante. Suspendisse fermentum, sem id laoreet
  malesuada, nunc augue consequat lacus, a cursus lacus mi vitae ligula. Integer gravida, risus nec maximus facilisis, ex lectus
  volutpat ante, non convallis justo dui sed sem. Maecenas elit nibh, viverra quis laoreet id, luctus eu ex. Mauris eget elementum
  arcu, ut suscipit orci. Donec ultrices lorem at pharetra luctus. Vivamus faucibus enim vel tincidunt ultricies. Ut pretium augue
  at diam lobortis pharetra. Sed eleifend neque at quam auctor ultricies. </p>

<p>Curabitur molestie tristique sem, quis hendrerit dui dictum et. Suspendisse ac iaculis nisi. Pellentesque habitant morbi tristique
  senectus et netus et malesuada fames ac turpis egestas. Phasellus in dui nec lorem pharetra euismod in et erat. Cras porta lorem
  lorem, eu semper magna ultrices a. Curabitur interdum nec libero in imperdiet. Sed sagittis viverra lectus, nec mollis justo
  ultricies eu. Phasellus quis finibus magna. Quisque ullamcorper risus eget mauris congue, non cursus libero placerat. Donec placerat
  , diam vel bibendum malesuada, lorem elit placerat felis, et pretium nisl metus quis dolor. Aliquam vel consequat sapien, ut
  imperdiet mauris. Donec semper quis eros non tempus. Nam vitae ornare ligula, cursus venenatis orci.</p>
{% endblock %}
