
{% extends "base.html" %}
{% load static %}

{% block content %}
  <div>Videos Page</div>
    <div> 
      <form class="rate-form" action="" method="POST">
        {% csrf_token %}
        <button type="submit" class="fa fa-star rating-btn" id="first"></button>
        <button type="submit" class="fa fa-star rating-btn" id="second"></button>
        <button type="submit" class="fa fa-star rating-btn" id="third"></button>
        <button type="submit" class="fa fa-star rating-btn" id="fourth"></button>
        <button type="submit" class="fa fa-star rating-btn" id="fifth"></button>
    </div>
    <br>
    <div id="confirm-box">
    </div>
{% endblock %}
