
{% extends "base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
{% if user.is_subscribed == True %}
  <div>
    <h2>{{ object.exercise_name }} - Video Exercise</h2>
    <p>Category: {{ object.category.category_name }}</p> 
    
    <video width="500" controls>
      <source src="/static/{{object.videofile}}" type="video/mp4">
    </video> 
  </div>
  <div class="d-flex justify-content-between" style="width: 500px;">
    <div> 
      <form class="rate-form" action="" method="POST">{% comment %} Star Rating form and buttons  {% endcomment %}
        {% csrf_token %}
        <button type="submit" class="fa fa-star rating-btn" id="first"></button>
        <button type="submit" class="fa fa-star rating-btn" id="second"></button>
        <button type="submit" class="fa fa-star rating-btn" id="third"></button>
        <button type="submit" class="fa fa-star rating-btn" id="fourth"></button>
        <button type="submit" class="fa fa-star rating-btn" id="fifth"></button>
    </div> 
    <div>
      <button class="btn btn-outline-dark" disabled>
        Number of views: <span class="badge badge-pill badge-danger">{{object.views}}</span>
        <span class="sr-only">unread messages</span>
      </button>
    </div> 
    <!-- <p class="text-info">Number of views: {{object.views}}</p> -->
  </div>
    
   
    <div id="confirm-box">
    <br>    
    </div>
{% endif %}
{% endif %}
{% endblock %}
