
{% extends "base.html" %}
{% load static %}

{% block content %}
  <h1>Videos</h1>
  {% if user.is_authenticated %}
    <h2>bird exercises</h2>
    <div class="groupedVideo">
      <a href=""><img class="mySlides1" src="{% static 'images/bird1.jpg' %}"></a>
      <a href=""><img class="mySlides1" src="{% static 'images/bird2.jpg' %}"></a>
      <a href=""><img class="mySlides1" src="{% static 'images/bird3.jpg' %}"></a>
      <a href=""><img class="mySlides1" src="{% static 'images/bird4.jpg' %}"></a>
      <button class="videos-left" onclick="plusDivs(-1, 0)">&#10094;</button>
      <button class="videos-right" onclick="plusDivs(1, 0)">&#10095;</button>
    </div>

    <h2>cat exercises</h2>
    <div class="groupedVideo">
      <a href=""><img class="mySlides2" src="{% static 'images/cat1.jpg' %}"></a>
      <a href=""><img class="mySlides2" src="{% static 'images/cat2.jpg' %}"></a>
      <a href=""><img class="mySlides2" src="{% static 'images/cat3.jpg' %}"></a>
      <a href=""><img class="mySlides2" src="{% static 'images/cat4.jpg' %}"></a>
      <button class="videos-left" onclick="plusDivs(-1, 1)">&#10094;</button>
      <button class="videos-right" onclick="plusDivs(1, 1)">&#10095;</button>
    </div>

    <script>
      var slideIndex = [1,1];
      var slideId = ["mySlides1", "mySlides2"]
      showDivs(1, 0);
      showDivs(1, 1);

      function plusDivs(n, no) {
        showDivs(slideIndex[no] += n, no);
      }

      function showDivs(n, no) {
        var i;
        var x = document.getElementsByClassName(slideId[no]);
        if (n > x.length) {slideIndex[no] = 1}
        if (n < 1) {slideIndex[no] = x.length}
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        x[slideIndex[no]-1].style.display = "block";
      }
    </script>
  {% else %}
    <p>You must be logged in to view these videos</p>
  {% endif %}

{% endblock %}
